.transactionHistory {
  margin: 30px auto 0px;
  padding: 20px;
  border-radius: 8px;
  background-color: #0f2f44;

  width: 380px;

  color: #f0ddbc;
  text-align: center;

  box-shadow: 4px 4px 8px 0px rgba(32, 32, 32, 0.6);
}

td {
  padding: 10px;
}

/* tr:nth-child(2n) {
  background-color: #eaf1ff;
  color: #0f2f44;
} */

.dataTransaction:hover,
.dataTransaction:focus {
  background-color: #eaf1ff;
  color: #0f2f44;
}

th {
  font-size: 18px;
}
